name: Latest blog post workflow

on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch: # This allows manual triggering

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Get latest blog posts and update README
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: 'https://dev.to/feed/bharath_018'
